@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions
@using System
@using System.Collections.Generic

@{
    var companyLogo = Model.Value<IPublishedContent>("companyLogo", fallback: Fallback.ToAncestors);
    DateTime today = DateTime.Today;
}
<!-- footer -->
<div class="footer pt-12 bg-abahughes text-body">
    <div class="container-fluid">
        <div class="col-lg-2 col-md-4 col-12">
            <div class="mb-4">
                @if (companyLogo != null)
                {
                    var imageHeight = companyLogo.Value<int>("umbracoHeight");
                    var imageWidth = companyLogo.Value<int>("umbracoWidth");
                    <img src="@companyLogo.GetCropUrl(90, 90, furtherOptions: "&format=jpg")"
                         alt="@companyLogo.Name"
                         loading="lazy"
                         class="img-responsive mx-auto d-block"
                         width="@imageWidth"
                         height="@imageHeight" />
                }
            </div>
        </div>

        <div class="row justify-content-center mt-md-n12">
            @{
                var footerNav = Model.Value<IEnumerable<IPublishedElement>>("footerNavigation", fallback: Fallback.ToAncestors);
                if (footerNav != null)
                {
                    foreach (var item in footerNav)
                    {
                        var linkName = item.Value<string>("footerLinkName");
                        var link = item.Value<Umbraco.Cms.Core.Models.Link>("footerItemPageLink");

                        <div class="col-md-1">
                            <div class="mb-4">
                                <p class="mb-4 text-center text-md-start">
                                    <a href="@link.Url" class="text-white">@linkName</a>
                                </p>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="mb-4">
                    <p class="mb-4 text-white text-center">@Model.Value("region", fallback: Fallback.ToAncestors)</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mb-4">
                    <p class="mb-4 text-white text-center">@Model.Value("contactTelephoneNumber", fallback: Fallback.ToAncestors)</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mb-4">
                    <p class="mb-4 text-white text-center">
                        <a href="mailto:@Model.Value("emailAddress", fallback: Fallback.ToAncestors)" class="text-white">
                            @Model.Value("emailAddress", fallback: Fallback.ToAncestors)
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-12">
            <p class="mb-0 text-white text-center">&copy; @today.ToString("yyyy") Copyright by ABA Hughes</p>
        </div>
    </div>
</div>
